<?xml version="1.0"?>
<config>
    <modules>
        <Addedbytes_Pushover>
            <version>0.1.0</version>
        </Addedbytes_Pushover>
    </modules>
    <global>
        <models>
            <addedbytespushover>
                 <class>Addedbytes_Pushover_Model</class>
            </addedbytespushover>
        </models>
        <helpers>
            <addedbytes_pushover>
                <class>Addedbytes_Pushover_Helper</class>
            </addedbytes_pushover>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <addedbytes_pushover>
                        <class>addedbytespushover/observer</class>
                        <method>newOrderNotification</method>
                    </addedbytes_pushover>
                </observers>
            </sales_order_place_after>
            <admin_system_config_changed_section_pushover>
                <observers>
                    <addedbytes_pushover>
                        <class>addedbytespushover/observer</class>
                        <method>confirmConfiguration</method>
                    </addedbytes_pushover>
                </observers>
            </admin_system_config_changed_section_pushover>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pushover translate="title" module="addedbytes_pushover">
                                            <title>Added Bytes Pushover</title>
                                            <sort_order>0</sort_order>
                                        </pushover>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <pushover>
            <pushover_options>
                <pushover_active>0</pushover_active>
            </pushover_options>
            <!--<pushover_events>
                <pushover_sales_order_place_after>1</pushover_sales_order_place_after>
                <pushover_customer_register_success>0</pushover_customer_register_success>
            </pushover_events>-->
        </pushover>
    </default>
</config>
